<div class="navigation">
  <div class="nav-item">
    <img [src]="logo" alt="logo"  class="logo"/>
  </div>
  <div class="nav-item">
    <div class="nav-item-link"><a routerLink="tab1" routerLinkActive="active">TAB 1</a></div>
    <div class="nav-item-link"><a routerLink="tab2" routerLinkActive="active">TAB 2</a></div>
    <div class="nav-item-link"><a routerLink="tab-1" routerLinkActive="active">TAB 3</a></div>
    <div class="nav-item-link"><a routerLink="tab-1" routerLinkActive="active">TAB 4</a></div>
    <div class="nav-item-link"><a routerLink="tab-1" routerLinkActive="active">TAB 5</a></div>
    <div class="nav-item-link"><a routerLink="tab-1" routerLinkActive="active" class="aaa">TAB 6</a></div>
  </div>
</div>
<router-outlet></router-outlet>
