<div class="navigation">
  <div class="nav-item">
    <img src="" alt="logo" />
  </div>
  <div class="nav-item">
    <div><a routerLink="tab-1" routerLinkActive="active">TAB 1</a></div>
    <div><a routerLink="tab-1" routerLinkActive="active">TAB 1</a></div>
    <div><a routerLink="tab-1" routerLinkActive="active">TAB 1</a></div>
    <div><a routerLink="tab-1" routerLinkActive="active">TAB 1</a></div>
    <div><a routerLink="tab-1" routerLinkActive="active">TAB 1</a></div>
    <div><a routerLink="tab-1" routerLinkActive="active">TAB 1</a></div>
  </div>
  <h1>Test Boban</h1>
</div>
<router-outlet></router-outlet>
